<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedCapabilities"
  IgnorableNamespaces="uap rescap">
  <Identity
    Name="Dayflow.Windows"
    Publisher="CN=Dayflow"
    Version="0.1.0.0" />
  <Properties>
    <DisplayName>Dayflow</DisplayName>
    <PublisherDisplayName>Dayflow</PublisherDisplayName>
    <Logo>Assets\DayflowLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily
      Name="Windows.Desktop"
      MinVersion="10.0.19041.0"
      MaxVersionTested="10.0.26100.0" />
  </Dependencies>
  <Resources>
    <Resource Language="en-us" />
  </Resources>
  <Applications>
    <Application
      Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="Dayflow"
        Description="A private, local-first work journal."
        BackgroundColor="transparent"
        Square150x150Logo="Assets\DayflowLogo.png"
        Square44x44Logo="Assets\DayflowLogo.png" />
    </Application>
  </Applications>
  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
    <Capability Name="internetClient" />
  </Capabilities>
</Package>
